mmdetection/evaluation_results/
models/
images/
__pycache__/
temp/
gun/*
tmp.py
*.pyc
*.jpg
*.json
*.xlsx
*.zip
#*.txt
gunicorn/*
env/
.idea/
.settings/
.setting/
inference_result.log
detectron2/temp_eval/
mmdetection/final_models/
mmdetection/data/
mmdetection/train_result/
mmdetection/custom_hooks/
*.pth 
.gitmessage.txt 
